@page
@using APS.Pages
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="container">
    <div class="text-center">
        <h1 class="display-6">Auto Parts Store</h1>
        <p class="mb-0">TCSS 445 - Database Systems Design</p>
    </div>
    <div class="">
        <img src="images/logo.png" class="rounded mx-auto d-block" />
        <dl class="row ms-3">
            <dt class="col-3">Nelson Nyland</dt>
            <dd class="col-3">nylandn@uw.edu</dd>
            <dt class="col-3">Aman Vahora</dt>
            <dd class="col-3">amanva@uw.edu</dd>
            <dt class="col-3">Arashpreet S. Pandher</dt>
            <dd class="col-3">arsh1234@uw.edu</dd>
            <dt class="col-3">Steven Le</dt>
            <dd class="col-3">sle6@uw.edu</dd>
        </dl>
    </div>
    <div class="text-columns">
        <blockquote class="blockquote ms-3 me-3 lh-lg">
            <h4>Overview</h4>
            <p>
                Some companies that sell car parts continue to use outdated software. Our project takes a text-based
                application and updates it by bringing it into the 22nd century!

                We plan to overhaul how data is handled
                and develop a new UI with many improvements. Auto parts companies are using old software with hard copy
                data. We plan to transition them to the cloud for easier management and access time.
                Our proposed idea is important because this will allow for employees to have an easier time finding the
                car parts they need. This will also allow representatives to serve customers at a faster rate because the
                information within the database is always up to date by utilizing the cloud.
                Some of the main issues we will address will be outdated data storage, slow performance, security,
                prevention from loss, and updating the UI to modern standards. One of our goals is for representatives to
                have an easier time updating information. This will in turn reduce the time it takes to look up
                information and serve customers. In the end, our objective is to gather data for the database, implement
                a cloud platform, and setup a new data-flow in the front-end and back-end. We want to create a new and
                up-to-date platform for companies that sell car parts to use.
            </p>
            <br />
            <br />
            <br />
            <h4>Related or Existing Solutions</h4>
            <p>
                Car part companies often use hard copies of data for their storefront or even their warehouse. A common
                problem many brick-and-mortar companies face is using outdated technology. Our plan is to to implement a
                software product to update data related to car parts and move them to the cloud. There are multiple car
                companies that have hard copies of data that is outdated. We will be switching them to the cloud for
                easier management and access time. The main problems addressed will be: data, lookup times, security, and
                prevention from wipeout of data due to natural causes. This plan will address these problems by allowing
                for customers to have an easier time finding the car parts they need, as well as allowing representatives
                to better serve customers at an even faster rate because of the improved information both within the
                database and in the cloud. The utilization of this cloud will prevent loss due to natural causes such as
                fires, floods, and broken equipment. Everything will be saved automatically when it is digitalized. The
                data stored on the cloud is backed up, unlike physical data. The cloud will also allow for better
                security because the data will be encrypted on the server side. Another goal is for representatives to
                have an easier time updating information. This will in turn reduce the time it takes to look up
                information. This project can be adapted and used for many different uses other than car-parts. Warehouse
                software such as this is widely used, although not as up-to-date and beneficial.
            </p>
        </blockquote>
    </div>
</div>
