body {
    margin-bottom: 60px;
}

html {
  font-size: 14px;
}

html {
  position: relative;
  min-height: 100%;
}

.text-columns {
    column-count: 2;
    text-align: justify;
}


/* MOBILE */
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}